<!DOCTYPE html>
<html lang="ja">
    <head><meta http-equiv="content-type" content="text/html" charset='UTF-8'>
        <title><%= title %></title>
        <style type="text/css" ref="style.css"></style>
    </head>
    <body>
        <h1>入力情報を確認ください。</h1>
        <p>名前：<%= name_eng %></p>
        <P>カタカナ：<%= name_ktkn %></P>
    </body>
</html>